@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}


.wallet-adapter-button-trigger {

  border-radius: 10px !important;
  background: #8D3DF2 !important;
  text-wrap: nowrap !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
  z-index: 100;
}

.menu.dropdown-content{
  z-index: 100;
}